.huddle-landing-page{
    background-image: url('../images/bg-desktop.svg');
    background-size: cover;
    position: relative;
    min-height: 100vh;
   
    background-repeat: no-repeat;
    overflow-x: hidden;
   
}
.overlay{
    background-color: hsl(257, 40%, 49%);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.container{
    padding: clamp(30px, 6vw, 80px);
    width: 100%;
  
   
}
.primary-img{
    width: 100%;
    max-width: 60%;

}

.container > img{
    max-width: 180px;
}
.primary{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.primary-content{
    margin-left: 20px;
    
    flex: 1;
    
}
.primary-content h2{
    font-size: 40px;
    color:#fff;
    font-weight: 500;
}
.primary-content p{
    color: #fff;
    padding: 25px 0;
    font-size: 15px;
    line-height: 1.6rem;
}
.btn{
    display: inline-block;
    padding: 12px 50px;
    border-radius: 30px;
    background: #ffff;
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    font-size: 15px;
    border:none;
}
.btn:hover{
    background: #E77FE5;
    color:#fff;
    transition: var(--smooth);
}
.socials{
    text-align: right;
    
}
.circle-icon{
    padding:8px 10px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    margin:0 5px;
}
.circle-icon i{
    color: #fff; 
}
.circle-icon:hover i{
    color: #F954C4;
    transition: var(--smooth);
}
.circle-icon:hover{
    border-color: #F954C4;
    transition: var(--smooth);
}
/* mobile */
@media(max-width:480px){
    .huddle-landing-page{
        background-image: url('../images/bg-mobile.svg');
        background-repeat: no-repeat;
        background-size: 455px;
       
        position: relative;
    }
    .container > img{
        max-width:150px;
    }
    .container{
        padding: 30px 30px 40px 30px;
    }
    .primary{
        flex-wrap: wrap;
   
      
    }
    .primary-img{
        width: 100%;
    }
    .primary-content{
        text-align: center;
        margin-top: 80px;
    }
    .primary-content h2{
        font-size: 32px;
    }
    .btn{
        padding: 12px 80px;
    }
    .socials{
        text-align: center;
        margin-top: 100px;
        margin-right: -20px;
    }
    .circle-icon{
        padding:4px 6px;
    }
    .socials i{
        
    }
}
/* mobile */
